@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin btn-hover-active {
    &:hover {
    background-color: darken($primary-color, 5%);
    transform: translateY(-1px);
    box-shadow: $box-shadow;
  }

  &:active {
    transform: translateY(0);
    box-shadow: $box-shadow-items;
  }
}

@mixin response($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) { @content }; // 600px
  }

  @if $breakpoint == tab_portrait { 
    @media (max-width: 56.25em) { @content }; // 900px
  }

  @if $breakpoint == tab_land { 
    @media (max-width: 75em) { @content }; // 1200px
  }

  @if $breakpoint == desktop { 
    @media (min-width: 112.5em) { @content }; // 1800px
  }
}