.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-family: 'Roboto';
  font-size: 7rem;
  color: $header-color;
  margin-top: 2rem;
}

.container {
  background: $background-color;
  position: relative;
  box-shadow: $box-shadow;
  border-radius: 1rem;
  padding: 2rem 2rem 2rem 4rem;
  width: 60rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.footer {
  position: relative;
  background: $header-color;
  color: $text-color;
  box-shadow: $box-shadow-items;
  border-radius: 4px;
  font-size: 1.6rem;
  padding: 1rem;
  margin-top: 2rem;
  width: 52rem;

  .total-price {
    position: absolute;
    right: 1rem;
  }

}