.header {
  font-family: 'Roboto';
  font-size: 7rem;
  color: $header-color;
  margin-top: 2rem;
  position: relative;

  &__btn-container {
    position: absolute;
    display: inline-flex;
    transition: $transition;
    margin: 2rem;
  }
}

.container {
  background: $background-color;
  position: relative;
  box-shadow: $box-shadow;
  border-radius: 1rem;
  padding: 2.5rem 3.5rem 2.5rem 2.5rem;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.footer {
  position: relative;
  justify-content: space-between;;
  display: flex;
  background: $header-color;
  color: $text-color;
  box-shadow: $box-shadow-items;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 2rem;
  width: 52rem;  
}