.item-container {
  background: $header-color;
  font-size: 1.4rem;
  color: $text-color;
  box-shadow: $box-shadow-items;
  padding: 0px 1rem 0px 2rem;
  width: 52rem;
  height: 5rem;
  margin-bottom: 5px;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
}

.item-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

  &__quantity {
  left: 3.5rem;
  position: absolute;
  font-weight: bold;
  text-align: right;
  }

  &__price {
    position: absolute;
    right: 3.5rem;
  }
}


.item-complete {
  background: $background-color;
  box-shadow: $box-shadow-items;
  color: gray;

  .item-list__dnd, 
  .btn-completed {
    display: none;
  }
}

/* checkbox https://codepen.io/valerypatorius/pen/oXGMGL/*/

input[type="checkbox"] { 
  display: none; 

  & + label {
    display: block;
    position: relative;
    padding-left: 6.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  & + label:last-child {
    margin-bottom: 0;
  }
  
  & + label {
    &:before {
      content: '';
      display: block;
      width: 1.4rem;
      height: 1.4rem;
      border: 1px solid $secondary-color;
      position: absolute;
      left: 0;
      top: 0;
      opacity: .6;
      -webkit-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s;
    }
  }

  &:checked + label {
    &:before {
      content: '';
      width: 1rem;
      top: -5px;
      left: 5px;
      border-radius: 0;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}