@media print {  
  body {
    background-image: none;
    background-color: #fff !important;
  }

  .header {
    color: $text-color;
  }

  .item-container,
  .footer {
    box-shadow: none;
  }

  input[type="checkbox"] {
    & + label {
      &:before {
        border: 1px solid $text-color;
      }
    }
  }

  .btn-large,
  .btn-large-round,
  .meals-header,
  .meal,
  .meals,
  .buttons-edit,
  .item-list__dnd {
    display: none;
  }
}