.recipe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}



.ingredients {
  margin-bottom: 2rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 2.5rem;
    font-size: 1.6rem;
  }

  &__item {
    background-color: $background-color;
    border-radius: 5px;
    margin: 5px;
    padding: 1rem;

    &--missed {
      cursor: pointer;
      background-color: $secondary-color;
      border-radius: 5px;
      margin: 5px;
      padding: 1rem;
    }
  }
}

.instructions {
  &__list {
    list-style: none;
    font-size: 1.3rem;
  }

  &__item {
      margin: 5px 3rem;
      padding: 1px;
    }
}


