$primary-color: #A82654;
$secondary-color: #FD8C69;
$background-color: #e8e8e8;
$text-color: #2A363B;
$header-color: #fff;
$box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.15);
$box-shadow-items: .1rem .1rem .1rem rgba(0, 0, 0, 0.15);
$transition: all .1s ease-in;